[submodule "autohotkey-scripts"]
	path = autohotkey-scripts
	url = https://github.com/natemara/autohotkey-scripts
[submodule "vimfiles"]
	path = vimfiles
	url = https://github.com/natemara/vimfiles.git
